.image {
    width : 150px;
    height : 150px;
}
.movie-card {
    width : 150px;
    height : auto;
    text-align : center;
    background-color : whitesmoke;
    box-shadow : 2px 2px 2px grey;
    margin : 10px;
}