body {
   box-sizing : border-box;
   margin : 0px;
   padding : 0px;
   font-family: 'Quicksand', sans-serif;
}
.background-container {
    position : absolute;
    height : 100vh;
    width : 100vw;
    background : url("url:/src/components/registrationview/Endless-Constellation.svg");
}
.screen-container {
    display : grid;
    grid-template-columns : 1fr 1fr;
    grid-template-rows : 100%;
    height : 80vh;
    position : relative;
    top : 50%;
    transform : translateY(-50%);
    margin-left : 20%;
    margin-right : 20%;
    border-radius : 10px;
    overflow : hidden;
}
.hero-container {
    background : url("url:/src/components/registrationview/Zig-Zag.svg");
    text-align : center;
    .logo {
        width : 100px;
        height : 100px;
        display : block;
        margin : 10px;
    }
}
.form-container {
    background-color : whitesmoke;
    .adjust-form-size {
        margin-left : 30px;
        margin-right : 30px;
        text-align : left;
        position : relative;
        top : 50%;
        transform : translateY(-50%);
    }

}
